*{
	font-family: Tahoma, Geneva, sans-serif;
}

div#canvas_div{
	background-color: transparent;
	position:absolute;
	top:0px;
	left:0px;
	width:700;
	height:500;
	overflow:hidden;
}

#gui{
	bottom: 0px;
	height: 200px;
	width:700px;
	background-color: white;
}

div.object_display{
	overflow:hidden;
	opacity: 0;
}

div.object_display>p{
	margin: 0px;
	font-size: 14px;
}

div.object_display:hover{
	overflow:visible;
	opacity: 1;
}

div.tunnel_display:hover{
	white-space: nowrap;
}

div.tunnel_display:hover.left{	
    text-align: right;
}

div#info_list{
	margin: auto;
	margin-top: 10%;
	padding: 10px;
	display: table;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
}

table#info_list_table{
	display: inline-block;
	max-height: 300px;
    overflow-y: auto;
}

button#upgrade_display_left_button{
	left: 0;
}

button#upgrade_display_right_button{
	right: 0;
}

button.upgrade_display_direction_button{
	position: absolute;
	height: 100%;
	width: 20;
}

div.storage_upgrade{
  text-align: center;
}

button.upgrade_display_display_button{
}